<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <main id="wrapper">
      {{#users}}
      <div>
        <a href="/{{id}}">
          <img src="{{avatar}}">
          <h2>{{name}}</h2>
          <p>{{job}}, {{company}}</p>
        </a>
      </div>
      {{/users}}
    </main>
  </body>
</html>
