<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/profile.css">
  </head>
  <body>
    <div class="nav">
      <a class="links" href="/forHire">Robots for Hire</a>
      <a class="links" href="/users">All Robots</a>
      <a class="links" href="/workingRobots">Working Robots</a>
    </div>
    <main id="wrapper">
      <div id="profile">
        <img src="{{avatar}}">
        <div id="name">
          <h1>{{name}}</h1>
          {{#job}}
          <p>{{#address}}{{#city}}{{city}},{{/city}} {{country}}{{/address}} | {{job}}, {{company}}</p>
          {{/job}}
          {{^job}}
          <p>{{#address}}{{city}}, {{country}}{{/address}} | <span id="red">Available for hire<span>
          {{/job}}
          <p>{{email}} | {{phone}}</p>
        </div>
        {{#university}}
        <section id="education">
          <div class="category">Education</div>
          <div class="value">{{university}}</div>
        </section>
        {{/university}}
        <section id="skills">
          <div class="category">Skills</div>
          <div class="value">{{#skills}}{{.}}<br>{{/skills}}</div>
        </section>
      </div>
    </main>
  </body>
</html>
