<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="/index.css">
    <link href="https://fonts.googleapis.com/css?family=Saira" rel="stylesheet">
  </head>
  <body>
    <nav id='navbar'>
      <h1>These aren't the Droids You're Looking for...<h1>
      <ul>
        <a href='/login'><li>Login</li></a>
        <a href='/register'><li>Register</li></a>
      </ul>
    </nav>
    <main class='wrapper'>
      <h2>Register</h2>
      <form action='/register' method='post'>
        <input type='text' name='username' placeholder='Username...'>
        <input type='password' name='password' placeholder='Password...'>
        <button type='submit'>Submit</button>
      </form>
    </main>
  </body>
</html>
