<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/index.css">
    <link href="https://fonts.googleapis.com/css?family=Saira" rel="stylesheet">
  </head>
  <body>
    <nav>
      <h1>These aren't the droids you're looking for ...</h1>
      <ul id='navbar'>
        <a href='/login'><li>Login</li></a>
        <a href='/register'><li>Register</li></a>
      </ul>
    </nav>
    <main class='wrapper'>
      <h2>Register</h2>
      <form action='/register' method='post'>
        <input type='text' name='username' placeholder='Username...'>
        <input type='password' name='password' placeholder='Password...'>
        <button type='submit'>Submit</button>
      </form>
      {{#showErrors}}
      <ul id='errors'>
        {{#errors}}
        <li id='errorMessages'>{{.}}</li>
        {{/errors}}
      </ul>
      {{/showErrors}}
    </main>
  </body>
</html>
