body {
  margin: 0;
  background-color: #DDD;
}

nav {
  background-color: #588BD0;
}

nav h1 {
  float: left;
  margin: 5px 0 0 10px;
  font-size: 1.6em;
  font-family: 'Saira', sans-serif;
  color: #9FFFB7;
}

#navbar {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

#navbar li {
  list-style: none;
  display: inline-block;
}

#navbar a {
  flex-basis: 10%;
  margin-left: 1px;
  padding: 10px 0;
  text-decoration: none;
  border: 2px solid #9FFFB7;
  background-color: #9FFFB7;
  color: #588BD0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Saira', sans-serif;
}

#navbar a:hover {
  border: 2px solid #9FFFB7;
  background-color: #588BD0;
  color: #9FFFB7;
}

.wrapper {
  width: 50%;
  margin: 50px auto;
  border: 2px solid #9FFFB7;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 15px black;
  background-color: rgba(88, 139, 208, 0.5);
  padding: 50px 20px;
}

h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-family: 'Saira', sans-serif;
}

input {
  padding: 8px;
  font-size: 1.6em;
}

button {
  padding: 8px;
  font-size: 1.6em;
}

#errors {
  border: 1px solid maroon;
  background-color: rgba(255, 0, 0, 0.2);
  padding: 20px 10px;
  margin: 20px 0 0;
}

#errorMessages {
  color: maroon;
  list-style: none;
  font-family: 'Saira', sans-serif;
  font-size: 1.1em;
}
