body {
  margin: 0;
  background-color: #DDD;
}

nav {
  background-color: #588BD0;
}

nav h1 {
  float: left;
  margin: 5px 0 0 10px;
  font-size: 1.6em;
  font-family: 'Saira', sans-serif;
  color: #9FFFB7;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

ul li {
  list-style: none;
  display: inline-block;
}

ul a {
  flex-basis: 10%;
  margin-left: 1px;
  padding: 10px 0;
  text-decoration: none;
  border: 2px solid #9FFFB7;
  background-color: #9FFFB7;
  color: #588BD0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Saira', sans-serif;
}

ul a:hover {
  border: 2px solid #9FFFB7;
  background-color: #588BD0;
  color: #9FFFB7;
}

.links {
  margin: 10px 2%;
  box-sizing: border-box;
  flex-basis: 29.3333%;
  text-align: center;
  color: #588BD0;
  line-height: 2em;
  transition-duration: 500ms;
  border: 1px solid lightgrey;
  font-family: sans-serif;
}

.links:hover {
  background-color: #9FFFB7;
  transition-duration: 500ms;
}

#wrapper {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

div {
  box-sizing: border-box;
  flex-basis: 22%;
  border: 1px solid lightgrey;
  margin: 1.5%;
}

a {
  text-decoration: none;
}

img {
  width: 200px;
}

h2 {
  color: #588BD0;
  text-align: center;
  margin: 0;
  padding: 0.83em 0;
}

p {
  text-align: center;
  color: grey;
  margin: 0 10px;
  padding-bottom: 10px;
}

#unemployed {
  text-align: center;
  color: red;
}

#users:hover {
  transform: scale(1.1);
  transition: all .15s ease;
  background-color: #9FFFB7;
}
