#wrapper {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

div {
  flex-basis: 21%;
  border: 1px solid lightgrey;
  margin: 1.5%;
}

a {
  text-decoration: none;
}

img {
  width: 200px;
}

h2 {
  color: #588BD0;
  text-align: center;
  margin: 0;
  padding: 0.83em 0;
}

p {
  color: grey;
  margin: 0 10px;
  padding-bottom: 10px;
}

#unemployed {
  text-align: center;
  color: red;
}

#users:hover {
  background-color: #9FFFB7;
}
