.links {
  margin: 0 2%;
  box-sizing: border-box;
  flex-basis: 29.3333%;
  text-align: center;
  color: #588BD0;
  line-height: 2em;
  transition-duration: 2000ms;
  border: 1px solid lightgrey;
  font-family: sans-serif;
}

.links:hover {
  background-color: #9FFFB7;
  transition-duration: 2000ms;
}

#wrapper {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

div {
  box-sizing: border-box;
  flex-basis: 22%;
  border: 1px solid lightgrey;
  margin: 1.5%;
}

a {
  text-decoration: none;
}

img {
  width: 200px;
}

h2 {
  color: #588BD0;
  text-align: center;
  margin: 0;
  padding: 0.83em 0;
}

p {
  color: grey;
  margin: 0 10px;
  padding-bottom: 10px;
}

#unemployed {
  text-align: center;
  color: red;
}

#users:hover {
  transform: scale(1.1);
  transition: all .15s ease;
  background-color: #9FFFB7;
}
