body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #588BD0;
}

nav h1 {
  float: left;
  margin: 5px 0 0 10px;
  font-size: 1.6em;
  font-family: 'Saira', sans-serif;
  color: #9FFFB7;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

ul li {
  list-style: none;
  display: inline-block;
}

ul a {
  flex-basis: 10%;
  margin-left: 1px;
  padding: 10px 0;
  text-decoration: none;
  border: 2px solid #9FFFB7;
  background-color: #9FFFB7;
  color: #588BD0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Saira', sans-serif;
}

ul a:hover {
  border: 2px solid #9FFFB7;
  background-color: #588BD0;
  color: #9FFFB7;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 960px;
  margin: 0 auto;
  min-height: 70vh;
}

#profile {
  display: flex;
  flex-wrap: wrap;
}

.nav {
  width: 960px;
  margin: 15px auto 0;
  display: flex;
  flex-wrap: wrap;
}

.links {
  margin: 0 2%;
  box-sizing: border-box;
  flex-basis: 29.3333%;
  text-align: center;
  color: #588BD0;
  line-height: 2em;
  transition-duration: 2000ms;
  border: 1px solid lightgrey;
  text-decoration: none;
  font-family: sans-serif;
}

.links:hover {
  background-color: #9FFFB7;
  transition-duration: 2000ms;
}

img {
  box-sizing: border-box;
  flex-basis: 22%;
  border: 1px solid lightgrey;
  border-radius: 100%;
  height: 200px;
  margin: 0 1.5% 1.5%;
}

#name {
  flex-basis: 75%;
  font-family: sans-serif;
}

h1 {
  font-size: 4em;
  font-weight: lighter;
  margin: 2% 0;
}

p {
  margin: 0;
  line-height: 1.5em;
}

#red {
  color: red;
}

section {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
}

.category {
  text-align: right;
  font-weight: bold;
  flex-basis: 22%;
  margin: 0 1.5% 1.5%;
}

.value {
  flex-basis: 75%;
  line-height: 1.5em;
}
